extends ./templates/classic

block title
  title Node Authentication

block js_includes
  script(src='/js/app/login/login.js')

block body
  .container(ng-controller='loginController')
    .col-sm-6.col-sm-offset-3
      h1
        span.fa.fa-user
        |  Add Local Account
      if message.length > 0
        .alert.alert-danger
          #{message}
      // LOGIN FORM
      form(action='/connect/local', method='post')
        input(type='hidden', name='_csrf', value='{{tokenValue}}')
        .form-group
          label Email
          input.form-control(type='text', name='email')
        .form-group
          label Password
          input.form-control(type='password', name='password')
        button.btn.btn-warning.btn-lg(type='submit') Add Local
      hr
      p
        a(href='/profile') Go back to profile
