extends ./templates/classic

block title
	title Node Authentication

block body
	.padding-80px-top
		.jumbotron.text-center
			h1
				span.fa.fa-lock
				|  Node Authentication
			p Login or Register with:
			a.btn.btn-default(href='/login')
				span.fa.fa-user
				|  Local Login
			a.btn.btn-default(href='/signup')
				span.fa.fa-user
				|  Local Signup
			a.btn.btn-primary(href='/auth/facebook')
				span.fa.fa-facebook
				|  Facebook
			a.btn.btn-info(href='/auth/twitter')
				span.fa.fa-twitter
				|  Twitter
			a.btn.btn-danger(href='/auth/google')
				span.fa.fa-google-plus
				|  Google
