extends ./templates/classic

block title
	title Node Authentication

block js_includes
	script(src='js/app/login/login.js')

block body
	.padding-80px-top(ng-controller='loginController')
		.col-sm-6.col-sm-offset-3
			h1
				span.fa.fa-sign-in
				|	Login
			// show any messages that come back with authentication
			if message != ''
				.alert.alert-danger #{message}
			// LOGIN FORM
			form(role='form', action='/login', method='post')
				input(type='hidden', name='_csrf', value='{{tokenValue}}')
				.form-group
					label Email
					input.form-control(
						type='text',
						name='email')
				.form-group
					label Password
					input.form-control(
						type='password',
						name='password')
				button.btn.btn-warning.btn-lg(
					type='submit') Login
			hr
			p
				| Need an account?&nbsp;
				a(href='/signup') Signup
			p
				| Or go&nbsp;
				a(href='/') home
				| .
