extends ./templates/classic

block title
  title Node Authentication

block js_includes
  script(src='js/app/login/login.js')

block body
  .padding-80px-top(ng-controller='loginController')
    .col-sm-6.col-sm-offset-3
      h1
        span.fa.fa-sign-in
        |  Signup
      // show any messages that come back with authentication
      .alert.alert-danger(ng-show='message') {{ message }}
      // LOGIN FORM
      form(role='form', action='/signup', method='post')
        .form-group
          input(type='hidden', name='_csrf', value='{{tokenValue}}')
          label Email
          input.form-control(type='text',
            name='email')
        .form-group
          label Password
          input.form-control(type='password',
            name='password')
        button.btn.btn-warning.btn-lg(
          type='submit') Signup
      hr
      p
        | Already have an account?&nbsp;
        a(href='/login') Login
      p
        | Or go&nbsp;
        a(href='/') home
        | .
