extends ./templates/classic

block title
	title Node/Angular Todo App

block js_includes
	script(src='js/app/todos/todos.js')

block body
	.padding-50px-top(ng-controller='todosController')
		.jumbotron.text-center
			h1
				| I&apos; m a Todo-aholic
				span.label.label-info {{ todos.length }}
		// TODO LIST
		#todo-list.row.margin-30px-bottom
			.col-sm-4.col-sm-offset-4
				// LOOP OVER THE TODOS IN $scope.todos
				.checkbox(ng-repeat='todo in todos')
					label
					input(type='checkbox', ng-click='deleteTodo(todo._id)')
					|  {{ todo.text }},
					|  {{ todo.date }}
		// FORM TO CREATE TODOS
		#todo-form.row
			.col-sm-8.col-sm-offset-2.text-center
				form
					.form-group
						// BIND THIS VALUE TO formData.text IN ANGULAR
						input.form-control.input-lg.text-center(
							type='text',
							placeholder='I want to buy a puppy that will love me forever',
							ng-model='formData.text')
						// createToDo() WILL CREATE NEW TODOS
						button.btn.btn-primary.btn-lg(type='submit', ng-click='createTodo()') Add
