doctype html

html(ng-app='app')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')

		link(rel='stylesheet', href='/css/bootstrap.css')
		link(rel='stylesheet', href='/css/font-awesome.css')
		link(rel='stylesheet', href='/css/custom.css')
		block css_includes

		script(src='/js/jquery-3.1.0.slim.js')
		script(src='/js/angular.js')
		script(src='/js/app/app.js')
		block js_includes

		block title
			title Default title
	body
		.container
			block body
